.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; //same property like background-size:cover is for background-images, this can also work with images, just put them in a container and then set the image to this prop to fit the parent cont.
    }
}