.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem; //since we positioned the children of this element to absolute the parent (this elemnt collapsed and lost its height) so we specify the height again here too

    &__side {
        font-size: 3rem;
        color: white;

        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; //since we set the position to absolute the elements start fitting to their width
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: $shadow-1;

        &--front {
            background-color: $color-white;
        }
    
        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
        }
    }


    &:hover &__side--front {//when the card is hovered then select the card__side--front element
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}