.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    
    opacity: 0;
    visibility: hidden; //we didnt use display none because while useing that we cannot animate it coz it doesnt have any number values.
    transition: all .3s;


    &__content {
        @include center-vertical-horizontal;

        width: 75%;
        // height: 50rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;

        opacity: 0;
        transform: translate(-50%, -50%) scale(0); //we added the translate property here again because one declaration block can have one property defined only a single time and here transform gets declared twice, once in mixin and second time at the end, so to fix that we define the translate again in the transform
        transition: all .4s .2s;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2; //creates two columns for us
        -moz-column-gap: 4rem; //normally it is 1 em by default
        -moz-column-rule: 1px solid $color-grey-light-2;
        column-count: 2; //creates two columns for us
        column-gap: 4rem; //normally it is 1 em by default
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto; //its a new property so we need to add prefixes for it to work in all the browsers
        hyphens: auto; //for this auto to work properly we need to specify the language in html at the top
    }


    //OPEN STATES
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link, 
        &:visited {
            color: $color-grey-dark;
            position: absolute; //this here is positioned relative to popup content
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1; //specified line height coz the element was getting larger and was not getting positioned properly so we decreased the line height
        }

        &:hover {
            color: $color-primary;
        }
    }
}