.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    
    &__content {
        @include center-vertical-horizontal;

        width: 75%;
        // height: 50rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2; //creates two columns for us
        -moz-column-gap: 4rem; //normally it is 1 em by default
        -moz-column-rule: 1px solid $color-grey-light-2;
        column-count: 2; //creates two columns for us
        column-gap: 4rem; //normally it is 1 em by default
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto; //its a new property so we need to add prefixes for it to work in all the browsers
        hyphens: auto; //for this auto to work properly we need to specify the language in html at the top
    }
}