.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    
    // & > * {
    //     transform: skewX(12deg); //this selects the direct children (story__shape and shory__text), but doest work on story__shape because it already has a transform going on and it takes precedence over this transform and in css only one transform works at a time, so we will declare it manually in both the classes
    // }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
    }

    &__img {
        height: 100%;
        
    }

    &__text {
        transform: skewX(12deg);
    }
}