.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.801), /*using a hexadecimal color in rgba only works in sass and wont work anywhere else*/
        rgba($color-primary-dark, 0.801)),
    url(../../images/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;

    transform: skewY(-7deg);

    & > * { // this is the direct child selector and selects the immediate direct child which is the row div in this case
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    padding: 15rem 0;
    // background-color: $color-grey-light-1; //removed it because of the video was getting behind this so to make it transpaerent removed it
    position: relative;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

}

.book {
    background-image: linear-gradient(105deg,
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%,
                                    transparent 50%), 
                                    url(../images/nat-10.jpg);
    background-size: cover; //we can also specify "100%" here nut 100% makes sure that the image fits the container in the x-direction
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);


    // height: 50rem; this was used just for testing purposes

    @include respond(tab-land) {
        background-image: linear-gradient(105deg,
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 65%,
                                    transparent 65%), 
                                    url(../images/nat-10.jpg);
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right,
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 100%), 
                                    url(../images/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }

}